version: '2'

networks:
  custom:
    driver: bridge
    ipam:
      driver: default
      config:
      - subnet: 172.22.0.0/16
        gateway: 172.22.0.1

services:
  kdc:
    networks:
      custom:
        ipv4_address: 172.22.0.2
    image: sequenceiq/kerberos
    hostname: kdc.kerberos.com
    container_name: kdc
    environment:
      REALM: EXAMPLE.COM
      DOMAIN_REALM: kdc.kerberos.com
    volumes:
      - "./config_files/kdc/krb5.conf:/etc/krb5.conf"
      - "/dev/urandom:/dev/random"
      - "/etc/localtime:/etc/localtime:ro"
      - "keytabs:/etc/security/keytabs"
      - "kdc_storage:/var/kerberos/krb5kdc"

  mysql:
    networks:
      custom:
        ipv4_address: 172.22.0.3
    image: mysql:5.7
    restart: always
    hostname: mysql
    domainname: docker.com
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: changeme123
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - mysql_data:/var/lib/mysql

  hadoop-namenode:
    networks:
      custom:
        ipv4_address: 172.22.0.4
    image: myalluxio/alluxio-secure-hadoop:hadoop-2.10.1
    depends_on: 
      - kdc
      - mysql
    hostname: hadoop-namenode
    domainname: docker.com
    container_name: hadoop-namenode
    tty: true
    extra_hosts:
      - "kdc.kerberos.com kdc:172.22.0.2"
      - "mysql.docker.com mysql:172.22.0.3"
      - "hadoop-datanode1.docker.com hadoop-datanode1: 172.22.0.5"
      - "alluxio-master.docker.com alluxio-master: 172.22.0.6"
      - "alluxio-worker1.docker.com alluxio-worker1: 172.22.0.7"
    environment:
      KRB_REALM: EXAMPLE.COM
      DOMAIN_REALM: kdc.kerberos.com
      THIS_FQDN: hadoop-namenode.docker.com
      HADOOP_NAMENODE_FQDN: hadoop-namenode.docker.com
      HADOOP_DATANODE1_FQDN: hadoop-datanode1.docker.com
      ALLUXIO_MASTER_FQDN: alluxio-master.docker.com
    volumes:
      - ./config_files:/tmp/config_files
      - /etc/localtime:/etc/localtime:ro
      - ./bootstrap/bootstrap-hadoop-namenode.sh:/bootstrap.sh
      - hdfs_storage:/opt/hadoop/data
      - keytabs:/etc/security/keytabs
      - keystore:/etc/ssl/certs
    expose:
     - 8020
     - 9000
     - 10020
     - 8030
     - 8031
     - 8032
     - 8033
     - 8040
     - 8042
     - 8088
     - 7077
     - 9083
    ports:
      - "50470:50470"
      - "19888:19888"
      - "10002:10002"
      - "8088:8088"
      - "8080:8080"
    command: ["/bootstrap.sh"]

  hadoop-datanode1:
    networks:
      custom:
        ipv4_address: 172.22.0.5
    image: myalluxio/alluxio-secure-hadoop:hadoop-2.10.1
    depends_on: 
      - kdc
      - mysql
    hostname: hadoop-datanode1
    domainname: docker.com
    container_name: hadoop-datanode1
    tty: true
    extra_hosts:
      - "kdc.kerberos.com kdc:172.22.0.2"
      - "mysql.docker.com mysql:172.22.0.3"
      - "hadoop-namenode.docker.com hadoop-namenode: 172.22.0.4"
      - "alluxio-master.docker.com alluxio-master: 172.22.0.6"
      - "alluxio-worker1.docker.com alluxio-worker1: 172.22.0.7"
    environment:
      KRB_REALM: EXAMPLE.COM
      DOMAIN_REALM: kdc.kerberos.com
      THIS_FQDN: hadoop-datanode1.docker.com
      HADOOP_NAMENODE_FQDN: hadoop-namenode.docker.com
      HADOOP_DATANODE1_FQDN: hadoop-datanode1.docker.com
      ALLUXIO_MASTER_FQDN: alluxio-master.docker.com
    volumes:
      - ./config_files:/tmp/config_files
      - /etc/localtime:/etc/localtime:ro
      - ./bootstrap/bootstrap-hadoop-datanode.sh:/bootstrap.sh
      - hdfs_storage:/opt/hadoop/data
      - keytabs:/etc/security/keytabs
      - keystore:/etc/ssl/certs
    expose:
     - 50010
     - 50020
     - 50075
    ports:
      - "50075:50075"
      - "8081:8081"
      - "8044:8044"
    command: ["/bootstrap.sh"]

  alluxio-master:
    image: myalluxio/alluxio-secure-hadoop:hadoop-2.10.1
    networks:
      custom:
        ipv4_address: 172.22.0.6
    depends_on:
      - kdc
    hostname: alluxio-master
    domainname: docker.com
    container_name: alluxio-master
    tty: true
    extra_hosts:
      - "kdc.kerberos.com kdc: 172.22.0.2"
      - "hadoop-namenode.docker.com hadoop-namenode: 172.22.0.4"
      - "hadoop-datanode1.docker.com hadoop-datanode1: 172.22.0.5"
      - "alluxio-worker1.docker.com alluxio-worker1: 172.22.0.7"
      - "ranger-admin.docker.com ranger-admin: 172.22.0.16"
    environment:
      KRB_REALM: EXAMPLE.COM
      DOMAIN_REALM: kdc.kerberos.com
      THIS_FQDN: alluxio-master.docker.com
      HADOOP_NAMENODE_FQDN: hadoop-namenode.docker.com
      HADOOP_NAMENODE_URL: hadoop-namenode.docker.com:9000
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./config_files:/tmp/config_files
      - ./bootstrap/bootstrap-alluxio-master.sh:/bootstrap.sh
      - keytabs:/etc/security/keytabs
      - keystore:/etc/ssl/certs
    expose:
      - "19998"
      - "19999"
      - "20001"
      - "20002"
      - "19200"
      - "20003"
    ports:
      - "19998:19998"
      - "19999:19999"
      - "4040:4040"
    command: ["/bootstrap.sh"]

  alluxio-worker1:
    image: myalluxio/alluxio-secure-hadoop:hadoop-2.10.1
    networks:
      custom:
        ipv4_address: 172.22.0.7
    shm_size: '1gb'
    depends_on:
      - kdc
      - alluxio-master
    hostname: alluxio-worker1
    domainname: docker.com
    container_name: alluxio-worker1
    tty: true
    extra_hosts:
      - "kdc.kerberos.com kdc: 172.22.0.2"
      - "hadoop-namenode.docker.com hadoop-namenode: 172.22.0.4"
      - "hadoop-datanode1.docker.com hadoop-datanode1: 172.22.0.5"
      - "alluxio-master.docker.com alluxio-master: 172.22.0.6"
      - "ranger-admin.docker.com ranger-admin: 172.22.0.16"
    environment:
      KRB_REALM: EXAMPLE.COM
      DOMAIN_REALM: kdc.kerberos.com
      THIS_FQDN: alluxio-worker1.docker.com
      ALLUXIO_MASTER_FQDN: alluxio-master.docker.com
      HADOOP_NAMENODE_FQDN: hadoop-namenode.docker.com
      HADOOP_NAMENODE_URL: hadoop-namenode.docker.com:9000
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./config_files:/tmp/config_files
      - ./bootstrap/bootstrap-alluxio-worker.sh:/bootstrap.sh
      - keytabs:/etc/security/keytabs
      - keystore:/etc/ssl/certs
    expose:
      - "29999"
      - "30000"
      - "30001"
      - "30003"
      - "39999"
    ports:
      - "30000:30000"
      - "30003:30003"
      - "39999:39999"
    command: ["/bootstrap.sh"]

  prometheus:
    image: prom/prometheus:v2.22.2
    container_name: prometheus
    hostname: prometheus
    domainname: docker.com
    networks:
      custom:
        ipv4_address: 172.22.0.8
    extra_hosts:
      - "alluxio-master.docker.com alluxio-master: 172.22.0.6"
      - "alluxio-worker1.docker.com alluxio-worker1: 172.22.0.7"
    expose:
      - 9090
    ports:
      - 9000:9090
    volumes:
      - ./config_files/prometheus:/etc/prometheus
      - prometheus_data:/prometheus
    command: --web.enable-lifecycle --log.level=debug --config.file=/etc/prometheus/prometheus.yaml

  grafana:
    image: grafana/grafana-oss:8.2.0
    networks:
      custom:
        ipv4_address: 172.22.0.9
    extra_hosts:
      - "prometheus.docker.com prometheus: 172.22.0.8"
    container_name: grafana
    hostname: grafana
    domainname: docker.com
    ports:
      - 3000:3000
    volumes:
      - ./config_files:/tmp/config_files
      - ./bootstrap/bootstrap-grafana.sh:/bootstrap.sh
    user: root
    entrypoint: ["/bootstrap.sh"]

  zookeeper1:
    image: zookeeper:3.5.7
    restart: always
    container_name: zookeeper1
    hostname: zookeeper1
    domainname: docker.com
    networks:
      custom:
        ipv4_address: 172.22.0.10
    expose:
      - 2181

  drillbit1:
    image: myalluxio/alluxio-secure-hadoop:hadoop-2.10.1
    container_name: drillbit1
    hostname: drillbit1
    domainname: docker.com
    networks:
      custom:
        ipv4_address: 172.22.0.13
    expose:
      - 8047
    ports:
      - 8047
      - 8047:8047
    depends_on: ["zookeeper1"]
    environment:
      - ALLUXIO_HOME=/opt/alluxio
      - DRILL_HOME=/opt/drill
      - DRILL_CONF_DIR=/opt/drill/conf
      - SERVICE_8047_NAME=drillbit
      - DRILL_HEAP=512M
      - DRILL_MAX_DIRECT_MEMORY=1G
      - DRILL_CLUSTER_ID=drill_cluster
      - DRILL_ZOOKEEPER_QUORUM=zookeeper1:2181
    volumes:
      - ./config_files:/tmp/config_files
      - ./bootstrap/bootstrap-drillbit.sh:/bootstrap.sh
    entrypoint: ["/bootstrap.sh"]

  presto-server:
    networks:
      custom:
        ipv4_address: 172.22.0.14
    image: myalluxio/presto:0.276
    container_name: presto-server
    hostname: presto-server
    domainname: docker.com
    extra_hosts:
      - "kdc.kerberos.com kdc: 172.22.0.2"
      - "hadoop-namenode.docker.com hadoop-namenode: 172.22.0.4"
      - "hadoop-datanode1.docker.com hadoop-datanode1: 172.22.0.5"
      - "alluxio-master.docker.com alluxio-master: 172.22.0.6"
      - "alluxio-worker1.docker.com alluxio-worker1: 172.22.0.7"
    expose:
      - 8080
    ports:
      - 8181:8080 # publish presto http port 8080 for web as 8181
    volumes:
      - "./bootstrap/bootstrap-presto.sh:/bootstrap.sh"
      - "./config_files/presto:/opt/presto-server/etc"
      - "./config_files/kdc/krb5.conf:/etc/krb5.conf"
      - "keytabs:/etc/security/keytabs"
    entrypoint: ["/bootstrap.sh"]

  # TODO: use single mysql container for multiple databases
  db:
    image: mysql:5.7
    container_name: ranger-db
    hostname: db
    domainname: docker.com
    networks:
      custom:
        ipv4_address: 172.22.0.15
    volumes:
      - db_data:/var/lib/mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: ranger
      MYSQL_USER: ranger
      MYSQL_PASSWORD: ranger
    expose:
      - "3306"

  ranger-admin:
    image: kadensungbincho/ranger-admin:2.1.0
    container_name: ranger-admin
    hostname: ranger
    domainname: docker.com
    networks:
      custom:
        ipv4_address: 172.22.0.16
    extra_hosts:
      - "kdc.kerberos.com kdc:172.22.0.2"
    environment:
      JAVA_OPTS: -Djavax.net.ssl.trustStore=/etc/ssl/certs/ranger/ranger-admin-truststore.jks -Djavax.net.ssl.trustStorePassword=changeme123
    depends_on:
      - kdc
      - db
    tty: true
    volumes:
      - ./bootstrap/bootstrap-ranger-admin.sh:/opt/ranger_admin/bootstrap.sh
      - ./config_files/ranger/admin/install.properties:/opt/ranger_admin/install.properties
      - ./config_files/ranger/admin/ranger-admin-site.xml:/opt/ranger_admin/ews/webapp/WEB-INF/classes/conf/ranger-admin-site.xml
      - ./config_files/ranger/admin/ranger-admin-default-site.xml:/opt/ranger_admin/ews/webapp/WEB-INF/classes/conf/ranger-admin-default-site.xml
      - ./config_files/ranger/admin/security-applicationContext.xml:/opt/ranger_admin/ews/webapp/WEB-INF/classes/conf/security-applicationContext.xml
      - ./config_files/ranger/admin/core-site.xml:/opt/ranger_admin/conf/core-site.xml
      - ./config_files/kdc/krb5.conf:/etc/krb5.conf
      - keystore:/etc/ssl/certs
      - keytabs:/etc/security/keytabs
    command: ["./bootstrap.sh"]
    ports:
      - "6182:6182"
    restart: always

volumes:
  kdc_storage:
    driver: local
  keytabs:
    driver: local
  keystore:
    driver: local
  hdfs_storage:
    driver: local
  mysql_data:
    driver: local
  prometheus_data:
    driver: local
  db_data:
    driver: local
