-server
-Xmx1G
-XX:+UseG1GC
-XX:G1HeapRegionSize=32M
-XX:+UseGCOverheadLimit
-XX:+ExplicitGCInvokesConcurrent
-XX:+HeapDumpOnOutOfMemoryError
-XX:+ExitOnOutOfMemoryError
-Xbootclasspath/a:/opt/presto-server/etc
-Djdk.attach.allowAttachSelf=true
-Dlog.output-file=/var/lib/presto/datanode.id=presto-server/var/log/server.log